.container {
  padding: 5rem;
}

.container .content {
  padding: 1rem;
  background-color: var(--dark-secondary);
  color: var(--light-primary);
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .content h2 {
  padding-left: 2.5rem;
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5;
  min-width: 12rem;
}

.container .content .me {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content .me .image {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background: var(--light-primary);
  margin-bottom: 1.5rem;
}

.container .content .me .info {
  text-align: center;
}

.container .content .me .info h3 {
  letter-spacing: 0.045rem;
}

.container .content .me .info h3 span {
  color: var(--accent-secondary);
}

.container .content .me .info p {
  word-spacing: 00.045rem;
  letter-spacing: 00.045rem;
}

.container .content .me ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .content .me ul li {
  padding: 0 1rem;
  list-style: none;
}

.container .content .me ul li a {
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.container .content .resume h2 {
  cursor: pointer;
}

.icon:hover, .resume h2:hover {
  opacity: 0.5;
}

.container::before {
  content: open-quote;
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: var(--accent-secondary);
  top: 1;
  left: 1;
  font-size: 5rem;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 2.5rem;
    height: auto;
  }
  .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .content .about {
    margin-bottom: 3rem;
  }
  .container .content .about h2 {
    padding-left: 5rem;
  }
  .container .content .resume {
    margin-top: 3rem;
    text-align: center;
  }
  .container .content .resume h2 {
    padding-left: 0;
  }
  .container::before {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: auto;
    padding: .5rem;
  }
  .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .content .about {
    margin-bottom: 3rem;
  }
  .container .content .about h2 {
    padding-left: 5rem;
  }
  .container .content .resume {
    margin-top: 3rem;
  }
  .container .content .resume h2 {
    padding-left: 0;
  }
  .container::before {
    width: 8rem;
    height: 8rem;
  }
}
/*# sourceMappingURL=About.module.css.map */