.blog-post-content {
    width: 700px;
    margin: 0 auto;
}

.quote{
    display: flex;
    flex-direction: column;
    font-style: italic;
    box-shadow: rgb(41, 41, 41) 3px 0px 0px 0px inset;
    padding-left: 1.5rem;

    p {
        margin-bottom: 0.25rem;
    }

    a {
        color: var(--btn-primary);
        font-weight: 500;
    }
}