.container {
    display: flex;
    flex-direction: column;    
    background: linear-gradient(to bottom, var(--dark-secondary) 50%, var(--light-primary) 50%);
    
    .content {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    
        .heading {
            padding: 5rem 0 0 0;
            margin-bottom: 3rem;
            
            .subtitle {
                color: var(--light-primary);

                span {
                    margin-left: .5rem;
                }
            }
        }

        .blogs-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-auto-rows: 1fr;
            grid-gap: .85rem;
        }

        .more {
            display: flex;
            justify-content: center;
            margin: 3rem auto;
            
            a {
                color: var(--dark-primary);;
                transition: all .3s ease-in-out; 
            }
        }
    }
}

.more a:hover{
    box-shadow: 0 0.4rem 2rem rgba(34, 68, 123, 0.2);
}

@media screen and (max-width: 600px) {  
  
    .subtitle {
        font-size: 0.85rem;
    }

    .blogs-container {
        display: flex;
        justify-items: center;
    } 
}