.all a {
    border-radius: 1rem;
    letter-spacing: 0.025rem;
    padding: .85rem 1.4rem;
    font-size: .8rem;
    font-weight: 600;
    color: rgb(245, 239, 239);
    text-align: center;
}

.gradient-action {
    width: 85%;
    margin: 1.5rem auto;

    a {
        padding: 0.8rem 1rem;
        background: rgb(140,65,238);
        background: linear-gradient(90deg, rgba(140,65,238,1) 0%, rgba(140,65,238,1) 7%, rgba(221,89,165,1) 100%);
    }
}

.blue-action {
    a {
        background: #8c41ee;
    }
}

@media screen and (max-width: 768px) {
    .gradient-action {
        margin-top: 4rem;

        a {
            padding: 0.8rem;
        }
    }
}