.all a {
    border-radius: 0.5rem;
    letter-spacing: 0.025rem;
    padding: .85rem 1.4rem;
    font-size: .8rem;
    font-weight: 600;
    color: var(--light-secondary);
    text-align: center;
}

.dark {
    color: var(--dark-primary);
}

.gradient-action {
    width: 85%;
    margin: 1.5rem auto;

    a {
        padding: 0.8rem 1rem;
        background: var(--btn-primary);
        background: linear-gradient(90deg, rgba(140,65,238,1) 0%, var(--btn-primary) 7%, var(--accent-primary) 100%);
    }
}

.blue-action {
    a {
        background: var(--btn-primary);
    }
}

@media screen and (max-width: 768px) {
    .gradient-action {
        margin-top: 4rem;

        a {
            padding: 0.8rem;
        }
    }
}