.launch-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.launch-content {
    text-align: center;
}

.days{
    grid-area: days;
}
.hours{
    grid-area: hours;
}
.minutes{
    grid-area: minutes;
}
.seconds{
    grid-area: seconds;
}

.countdown {
    letter-spacing: .2rem;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template:
    'days hours minutes seconds'
}

.time {
    display: flex;
    flex-direction: column;

    .time-value {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 900px) { 
    .countdown {
        grid-gap: .5rem;
        width: 90%;
        margin: 0 auto;
    }
}