.navbar {
    display: flex;
    height: 9vh;
    
    .header {
        background-color: var(--dark-primary);
        display: flex;   
        justify-content: space-between;
        flex: 3.5;

        .logo, nav {
            align-self: center;
            padding: 0 1.5rem;
            margin-left: 3rem;
            transition: 0.2s ease;
        }

        nav {
            ul {
                display: flex;
                justify-content: space-around;
                li {
                    color: var(--light-primary);
                    margin-left: 1.5rem;
                    list-style: none;

                    .collab {
                        background-color: var(--accent-secondary);
                        padding: .4rem .6rem;
                        color: #862ff7;
                        font-weight: 500;
                        border-radius: 1rem;
                    }
                }
            }

            .burger {
                display: none;
            }
    
            .line1 {
                width: 2.5rem;
                height: 0.2rem;
                margin: 0.4rem;
                background: var(--light-secondary);
                pointer-events: none;
            }

            .line2 {
                width: 1.5rem;
                height: 0.2rem;
                margin: 0.4rem;
                background: var(--light-secondary);
                pointer-events: none;
            }
        }
    }
}

.nav-link {
    transition: all .3s ease-in-out; 
}

.logo:hover {
    cursor: pointer;
    filter: invert(50%);
}

.nav-link:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) { 
    .navbar {

        .header {
            flex: 1;

            .logo, nav {   
                margin: 0;
            }

            nav {
                ul {
                    display: none;
                }

                .burger {
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }
}