.social-links {
    height: 9vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;

        li {
            list-style: none;
        }
    }
}

.false {
    background-color: var(--dark-primary);
    img {
        filter: invert(100%);
    }
}

.icon:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) { 
    .social-links{
        display: none;
    }
}